main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.landing-display {
  text-align: center;
}

.landing-text {
  font-size: 1.5rem;
}

.landing-btn {
  width: 200px;
}
