<main class="container">
  <h1>Search Movies and Series</h1>
  <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value.searchTerm)" novalidate>
    <div class="form-group row">
      <label class="sr-only" for="searchTerm">Search Term</label>
      <div class="col-md-10 col-sm-8 col-xs-6 my-2">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" name="searchTerm" id="searchTerm" placeholder="Search Term eg Avengers" required>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 my-2">
        <button type="submit" class="btn btn-block btn-danger" [disabled]="searchForm.invalid">Search</button>
      </div>
    </div>
  </form>
</main>
